<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add Item Form</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Aliva's Store</h1>
			</div>
		</nav>
		<div class="content">
			<h2>Table Data</h2>
  <button onclick="goBack()">Go Back</button>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>